<div class="image-container">
    <img src="/assets/great book.avif" alt="Sample Image" class="img-fluid" />
    <div class="text-overlay">ABOUT</div>
</div>
  


<div  style="
background-image: url('/assets/bg.jpg');
background-size: cover;
background-repeat: no-repeat;
background-position: center;
padding: 20px;
color: white;">
<P>The College is situated in Vashi, presumed to be the nucleus of Navi Mumbai which is a city of the 21st century. 
    India Culture League was founded in 1942 by a small group of young people under the leadership of Late Shri Amalendu Roye,
     with the objective of inculcating the spirit of patriotism in the youth, through cultural and sports activities.
      After independence, it was re-christened as “India Culture League”(ICL) ; 
      since then it is actively promoting Arts, Music, Drama, Dance, Sports and Education. In the world of sports,
       particularly in the history of football culture in Mumbai, 
    ICL has played a significant role by winning many prestigious championships.</P>

    <p>ICL entered the educational field in 1975 with the formation of “India Culture League Education Society” (ICLES).
          It selected Vashi, Navi Mumbai as its “Karma Bhoomi” to cater to the educational needs of the wards of
           "Project Affected Families” (PAF) of CIDCO, the wards of Koli and Agri  Samaj for pursuing higher education . 
           Most of the students are first learners and from economically lower strata. An economically independent society is 
           the stepping stone to combined productivity that leads to the economic growth of the nation as a whole; so when the people
            of a nation are educated, they definitely carve ways to be self sufficient. Moreover our institution focuses to provide 
            equal admittance and opportunities to the minorities and to those who are socially, educationally, or economically disadvantaged,
             by imparting value education which is long lasting.  Thus, we endeavor to communicate holistic education to our   
             students such that they not only develop skills for individual development but also become worthy citizens of the 
             nation and to challenge ourselves, our staff and students to strive for excellence. 
         Our vision and mission thus seek to outline these aims.</p>

         <p>The ICL Junior college was started in 1978 while the degree college was started in 1984.  The Navi Mumbai Municipal Corporation has rewarded the contribution of our founder by naming the road opposite to the college as “Amalendu Roye Marg”. In 1998 under the able leadership of Shri R.S. Jhunjhunwala, the college was renamed as “ICLES’ Motilal Jhunjhunwala College”.

         </p>

         <h3>VISION</h3>
         <p>Enlightenment of Human spirit through Education</p>

         <h3>MOTTO</h3>

            <p>"Education Maketh Man"</p>

            <h3>MISSION</h3>

                <p>To create a culture that provides lifelong learning opportunities to all members     of the society    and to empower them through learning.</p>
                
               <p> To bring the classroom into the world and the world into the classroom.</p>

               <h3>OBJECTIVES</h3>

                <p>To offer high quality and affordable education to a broad spectrum of students of   Navi Mumbai.</p>
                
                <p>To make teaching and learning a pleasant, collaborative and   participative activity for students.</p>
                
                <p>To create opportunities to integrate class room learning with field work and research.</p>
                
                <p>To provide skills and knowledge to prepare students to become effective leaders in their personal and professional life.</p>
                
                <p>To inculcate scientific approach and a spirit of inquiry.</p>
                
               <p> To provide value based education.</p>
                
               <p> To create awareness about the environment through N.S.S and other co- curricular activities.</p>
                
                <p>To create communal harmony by teaching to respect people of different faiths and religion.</p>
</div>
                <!-- <a routerLink="/about/readmore">about</a> -->
