<div class="image-container">
    <img src="/assets/contact1.jpg" alt="Sample Image"  />
    <!-- <div class="text-overlay">ABOUT</div> -->
  </div>

  <div class="text-container">
    <p class="contact-title">CONTACT US</p>
  </div>

  <h1>Contact For Any Query</h1>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <div class="card" style="width: 100%;">
          <h3 class="text-center">Get In Touch</h3>
          <p class="text-center">
            The contact form is currently inactive. Get a functional and working contact form with Ajax & Angular in a few minutes. Just copy and paste the files, add a little code, and you're done.
          </p>
          <div class="mb-3 d-flex align-items-center">
            <i class="fa fa-map-marker-alt fa-2x me-3 text-primary"></i>
            <div>
              <!-- <h5>College</h5> -->
              <div><p class="contact">Vashi Sector 10A Navi Mumbai</p></div>
            </div>
          </div>
          <div class="mb-3 d-flex align-items-center">
            <i class="fa fa-phone fa-2x me-3 text-primary"></i>
            <div>
              <!-- <h5>Number</h5> -->
              <div><p class="contact">+01234567890</p></div>
            </div>
          </div>
          <div class="mb-3 d-flex align-items-center">
            <i class="fa fa-envelope fa-2x me-3 text-primary bordar"></i>
            <div>
              <!-- <h5>Email</h5> -->
              <div><p class="contact">info@icles.com</p></div>
            </div>
          </div>
        </div>
      </div>
  
      <!-- Map Section -->
      <div class="col-md-4">
        <div class="card">
          <div class="card-body text-center">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15249885.318783779!2d82.75252935!3d21.0680074!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30635ff06b92b791%3A0xd78c4fa1854213a6!2sIndia!5e0!3m2!1sen!2sin!4v1735376896803!5m2!1sen!2sin" width="450" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
      </div>

  
      <!-- Contact Form -->
      <div class="col-md-4">
        <div class="card" style="width: 100%;">
          <div class="card-body">
            <input class="form-control mb-3" type="text" [(ngModel)]="formData.name" placeholder="Your Name">
            <input class="form-control mb-3" type="email" [(ngModel)]="formData.email" placeholder="Your Email">
            <input class="form-control mb-3" type="text" [(ngModel)]="formData.subject" placeholder="Subject">
            <textarea class="form-control mb-3" [(ngModel)]="formData.message" placeholder="Message" rows="4"></textarea>
            <button class="btn btn-primary w-100" (click)="sendMessage()">Send Message</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
    